		

	@media (max-width: 1200px)
	{
		.mymenu .pull-right{
			float: none !important;
		}

		#sideNav .pull-right{
			float: none !important;
		}


	}

#sideNav{
	background: #f1f1f1;
    height: 100%
}

@media(max-width: 760px)
{
	#symbole{
		text-align: center; 
	}
	#sideNav
	{
	
		text-align: center;
		margin-bottom: 10px;
	}


}